.form-group, label {
    display: flex;
    flex-direction: row; /* Garante que os elementos fiquem lado a lado */
    justify-content: center; /* Ajuste conforme necessário */
    gap: 60px; /* Espaçamento entre os elementos */
}

.form-group > div {
    margin-right: 5px; /* Ajuste conforme necessário */
}

.form-group > div:last-child {
    margin-right: 0;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, button {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

input[type="text"], input[type="number"] {
    max-width: 300px;
}

select {
    max-width: 200px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    padding: 8px 12px;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}
