.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas de tamanho igual */
    gap: 10px; /* Espaçamento entre os elementos */
    margin-bottom: 20px;
}

.form-row {
    display: contents; /* Permite que os elementos sejam colocados diretamente no grid */
}

.form-column {
    display: flex;
    flex-direction: column; /* Alinha o label e o input verticalmente */
    align-items: center; /* Centraliza os elementos horizontalmente */
}

label {
    margin-bottom: 5px; /* Espaçamento entre o label e o input */
}

input, select {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
